<template>
  <div class="block block-about-me">
    <div class="block-container-full">
      <div class="block-about-me-title"><b>Hello!</b><br>My name is <b>"Chaniwat Seangchai"</b></div>
      <div class="block-about-me-content">
        I'm a <span class="text-bold text-hl-job-position">Full-Stack Web/API Developer</span>,
        Graduated in <span class="text-bold text-hl-year-2018">2018</span>, <span class="text-bold text-hl-itkmitl">Faculty of Information Technology</span> (Software Engineering), <span class="text-bold text-hl-kmitl">KMITL</span><br>
        Currently focusing on <span class="text-bold">Back-end Technology</span> and <span class="text-bold">Game Development</span><br>
        Love <span class="text-bold text-effect-space">Space Sci-fi 🚀</span>, <span class="text-bold">Anime 😻</span> and <span class="text-bold">Game 🎮</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Mixins, Vue } from 'vue-property-decorator';
import Block from '@/views/index-blocks/Block';

@Component
export default class AboutMe extends Mixins(Block) {

}
</script>

<style lang="scss" scoped>
.block-container-full {
  padding: 3.5rem 0 3rem;
}

.block-about-me-title {
  margin: 0;
  font-size: 2.25rem;
  color: $text-lead-color;
}

// Internal Highlight and Effect styles
.text-bold {
  color: #eaeaea;
}

.text-effect-space {
  display: inline-block;
  padding: 1.5px 4px 0px;
  background-image: url("https://static1.squarespace.com/static/58817d60d2b85782338743f1/t/59acb965f9a61e6ef12a8021/1504491926588/gis+header+1.jpg?format=600w");
  background-position-x: -270px;
  background-attachment: fixed;
  border-radius: 5px;
  color: #E4E4E4;
}

@include generate-text-highlight("job-position", #e2ac17);
@include generate-text-highlight("year-2018", #7e59cf);
@include generate-text-highlight("itkmitl", #138deb);
@include generate-text-highlight("kmitl", #e9750f);
</style>
