<template>
  <div class="block block-index">
    <div class="block-container-full">
      <div class="web-title">
        <span class="text-hl-meranote-primary">Meranote</span> Project
      </div>
      <ul class="menu-list">
        <li v-for="(menu, index) in menuLinks" :key="index" class="menu-item">
          <a :href="menu.link">{{menu.name}}</a>
        </li>
      </ul>
    </div>
    <div class="block-container-center">
      <div class="logo">
        <img src="@/assets/images/meranote.png" alt="ote-avatar" />
      </div>
      <ul class="social-link-list">
        <li v-for="social in socialLinks" :key="social.name" class="social-link-item">
          <a :href="social.link" target="_blank">
            <img :src="require(`@/assets/images/${social.logo}`)" :class="social.name" :alt="social.alt">
          </a>
        </li>
      </ul>
    </div>
    <div class="temp-site-description">
      (Under heavy construction 👷‍🚧)
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator';
import Block from '@/views/index-blocks/Block';
import { MenuLink } from '@/types/app/models/MenuLink';
import { SocialLink } from '@/types/app/models/SocialLink';

@Component
export default class Index extends Mixins(Block) {
  protected menuLinks: MenuLink[] = [
    // {
    //   name: "บทความ",
    //   link: "javascript:;"
    // },
    // {
    //   name: "ผลงาน",
    //   link: "javascript:;"
    // }
  ]
  protected socialLinks = require('@/data/social-links.json') as SocialLink[];
}
</script>

<style lang="scss" scoped>
.block-index {
  text-align: center;

  .block-container-full {
    padding-top: 1.5rem;
  }

  ul li {
    display: inline-block;
  }

  .web-title {
    float: left;
    font-weight: bold;
    color: $text-lead-color;

    @media screen and (max-width: $display-tablet-mininum) {
      float: none;
    }
  }

  .menu-list {
    float: right;

    @media screen and (max-width: $display-tablet-mininum) {
      float: none;
      display: none;
    }

    .menu-item {
      a {
        color: inherit;
        text-decoration: none;
        transition: color .25s;

        &:hover {
          color: white;
        }
      }

      &:after {
        content: "|";
        padding: 0 0.5rem;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
  
  .logo {
    display: inline-block;
    margin-bottom: 1rem;

    img { width: 270px; }
  }

  .social-link-list .social-link-item {
    // TODO Hover pop-up
  }

  .temp-site-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 1.35rem;
  }
}
</style>

