<template>
  <section id="page-index">
    <block-index />
    <!-- <block-about-me /> -->
  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import Index from './index-blocks/Index.vue';
// import AboutMe from './index-blocks/AboutMe.vue';

@Component({
  components: {
    'block-index': Index,
    // 'block-about-me': AboutMe
  }
})
export default class IndexView extends Vue {}
</script>
