<template>
  <div id="app">
    <index-view></index-view>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import IndexView from '@/views/IndexView.vue';
  
  @Component({
    components: {
      IndexView
    }
  })
  export default class App extends Vue {}
</script>
