.block {
  position: relative;
  min-height: 100vh;
  padding: 0 $block-padding-right 0 $block-padding-left;

  .block-container-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .block-container-full {
    width: 100%;
  }
}
