/**
 * Reset all browser styles
 * using necolas/normalize.css
 *
 * https://github.com/necolas/normalize.css
 */
@import '~normalize.css';

// Additional Reset
ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
