// Text Style
.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

// Text Highlights
@each $hl-name, $hl-val in (
  "meranote-primary": ($meranote-primary-color, null),
  "meranote-secondary": ($meranote-secondary-color, null)
) {
  @include generate-text-highlight($hl-name, nth($hl-val, 1), nth($hl-val, 2));
}
