// Profile Constants
$meranote-primary-color: #f0740e;
$meranote-secondary-color: #309ef8;

// Theme Settings
$font-size: 22px;
$bg-color: #0d0d10;
$text-color: #CACACA;
$text-lead-color: white;

// Block Settings
$block-padding-left: 3.5rem;
$block-padding-right: 3.5rem;

// Display Settings
$display-desktop-mininum: 1280px;
$display-tablet-mininum: 768px;
