@import './reset';

@import './variables';
@import './mixins';

@import './grid';
@import './fonts';
@import './block';
@import './typo';

html, body {
  height: 100%;
  font-family: 'Cloud', Helvetica, Arial, sans-serif;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $bg-color;
  color: $text-color;
}

h1, h2, h3, h4 {
  color: $text-lead-color;
}
